.info {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.modal-icon {
  grid-row-end: span 2;
  align-self: center;
}

.modal-icon:hover {
  cursor: pointer;
}

.modal {
  line-height: 1.5;
}

.shortcut {
  text-align: left;
  margin: 0 2px;
}

.shortcut:hover {
  cursor: pointer;
  outline: 1px solid grey;
}

.source {
  margin-top: 20px;
}

.shortcut-explanation {
  text-align: left;
}

button {
  font-size: medium;
  position: relative;
  border: none;
  border-radius: 3%;
  padding: 0 0.3rem;
  margin: 2px;
}

.submit {
  font-size: medium;
  position: relative;
  border: none;
  border-radius: 3%;
  padding: 0 0.3rem;
  margin: 2px;
}