.button-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12em);
  grid-row-gap: 0.4em;
  grid-column-gap: 1em;
  grid-auto-flow: row;
}

.button-grid button {
  font-size: medium;
  position: relative;
  border: none;
  border-radius: 3%;
  padding: 0.25rem 0.4rem;
}

.highlighted {
  background-color: #9ee5dd;
}

.highlighted:hover {
  background-color: #7EB7B1;
}

.linked {
  background-color: #2A9D8F;
}

.dead_end {
  color: black;
  background-color: #B5ACC3;
  text-decoration: line-through;
}

.cut {
  color: black;
  background-color: #FF1500;
}

.rock_smash {
  color: white;
  background-color: #744343;
}

.strength {
  color: black;
  background-color: #FFC600;
}

.surf {
  color: white;
  background-color: #083B68;
}

.waterfall {
  color: white;
  background-color: #590456;
}

.rock_climb {
  color: white;
  background-color: #442727;
}

.trainer {
  color: black;
  background-color: #E24D28;
}

.event {
  color: black;
  background-color: #807198;
}

.note {
  color: black;
  background-color: #F1C8DB;
}
