.image-viewer {
  --max-height: 900px;
  max-height: var(--max-height);
  flex-grow: 1;
  align-items: center;
  display: flex;
}

.image-viewer > img {
  max-height: var(--max-height);
  flex-grow: 0.5;
}