.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--header-size);
  color: white;
  padding: 5px;
}

.app-header a {
  color: lightblue;
}
